<form [formGroup]="profileForm">
  <input type="hidden" formControlName="OrderId" [(ngModel)]="orderId" value="{{this.orderId}}">
  <label>
    <b> Client Name:</b>
  </label>
  <input type="text" formControlName="ClientName" [(ngModel)]="clientName" value="{{this.clientName}}">
  <label>
    <b>Item Category:</b>
  </label>
  <input type="text" formControlName="ItemCategory" [(ngModel)]="itemcategory" value="{{this.itemcategory}}">
  <label>
    <b>Item Name:</b>
  </label>
  <input type="text" formControlName="Itemname" [(ngModel)]="itemname" value="{{this.itemname}}">
  <label>
    <b>Item Quantity:</b>
  </label>
  <input type="text" formControlName="ItemQuantity" [(ngModel)]="itemQuantity" value="{{this.itemQuantity}}" />

  <button class="btn btn-danger" mat-button mat-dialog-close>Cancel</button>
  <button class="btn btn-success" mat-raised-button type="button" style="margin: 20px" (click)="onSave()">Save</button>

</form>