<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
<input type="text" formControlName="OrderId" value="{{editOrder.orderId}}" />
  <input type="text" formControlName="ClientName" value="{{editOrder.clientName}}" />
  <input type="text" formControlName="ItemCategory" value="{{editOrder.itemcategory}}" />
  <input type="text" formControlName="Itemname" value="{{editOrder.itemname}}" />
  <input type="text" formControlName="ItemQuantity" value="{{editOrder.itemQuantity}}" />
<button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button type="submit">Save</button>

</form>
<!-- <form>
  <input type="text"  name="orderId"  value="{{editOrder.orderId}}">
  <input type="text"  name="clientName" value="{{editOrder.clientName}}">
  <input type="text"  name="itemcategory" value="{{editOrder.itemcategory}}">
  <input type="text" name="Itemname"  value="{{editOrder.itemname}}">
 
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button type="button" (click)="onSave()">Save</button>
  
</form> -->