<button class="btn btn-danger" type="button" (click)="signOut()" style="margin-left:90%;margin-top:1%">Signout</button>

<table class="table table-sm table-hover">
  <tr>
    <th>Client Name</th>
    <th>Item Category</th>
    <th>Item Quantity</th>
    <th>Item Name</th>
  </tr>

  <tr *ngFor="let order of itemOrder; let i = index">
    <td>{{order.clientName}}</td>
    <td>{{order.itemcategory}} </td>
    <td>{{order.itemQuantity}}</td>
    <td>{{order.itemname}}</td>
    <td>
      <a class="btn" (click)="openDialog(order.orderId,i)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn text-danger" (click)="onDelete(order.orderId,i)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>

</table>